# Node
node_modules/

# Python
__pycache__/
*.pyc

# env files
.env

# OS junk
.DS_Store
Thumbs.db

# build output
dist/
build/

# ignore all tmp folders anywhere
**/tmp
**/temp

# ignore push.sh script
push.sh
